:root {
  --text-color: #03045e;
}

.confirm-reset-password-container {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 120px auto 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.confirm-reset-password-head-titel h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
}

.newpassword-title {
  color: var(--text-color);
  margin-left: 45px;
  text-align: left;
  display: block;
}

.input-comfirm-resert {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-wrapper-confirm {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 100%;
  margin-bottom: 20px;
}

.password-wrapper-confirm input {
  width: 100%;
  padding: 8px 60px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-comfirm-resert input:not(.password-wrapper-confirm input) {
  margin: 10px auto 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
}
.btn-confirm-reset-password button {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-confirm-reset-password button:hover {
  background-color: #45a049;
}

.icon-lock-input-reset-password p {
  color: #b8b8b8;
  font-size: 14px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: 10px;
}

.toggle-password-btn-confirm {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.3s;
  z-index: 1;
}

.toggle-password-btn-confirm:hover {
  background-color: rgba(3, 4, 94, 0.1);
}
