:root {
  --text-color: #03045e;
}

.edit-profile-container {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.head-edit-profile {
  text-align: center;
  background: white;
  color: var(--text-color);
  padding: 12px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}

.editprofile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-profile-title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 22px;
  margin: 8px auto;
}

.edit-profile-title-first-last_name {
  color: #333;
  font-weight: bold;
  margin: 10px 10px 0px;
  text-align: left;
}

.editprofile-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #218838;
}

.change-password-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--text-color);
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.change-password-link:hover {
  background-color: #08096a;
}

.change-password-link:active {
  background-color: #003f6a;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  color: #333;
  /* max-width: 600px; */
  /* margin: 20px auto; */
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.info-row p {
  flex: 1 1 45%; /* 2 ช่องต่อแถว */
  margin: 0;
  background: #f9f9f9;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.status-text-manager {
  margin-left: 5px;
  font-weight: 500;
}

.status-text-manager.pending {
  display: inline-block;
  color: #856404;
  background-color: #fff4ce;
  padding: 2px 6px;
  border-radius: 30px;
  font-weight: 500;
}

.status-text-manager.approved {
  display: inline-block;
  color: #155724;
  background-color: #d4f4dd;
  padding: 2px 6px;
  border-radius: 30px;
  font-weight: 500;
}

.status-text-manager.unknown {
  display: inline-block;
  color: gray;
  background-color: #dadfdc;
  padding: 4px 8px;
  border-radius: 30px;
  font-weight: 500;
}

.user-role-editprofile {
  margin-left: 5px;
  display: inline-block;
  color: #155724;
  background-color: #d4f4dd;
  padding: 2px 6px;
  border-radius: 30px;
  font-weight: 500;
}

@media screen and (max-width: 620px) {
  .edit-profile-container {
    width: 90%;
  }

  .info-row p {
    flex: 1 1 100%; 
    margin-bottom: 10px;
  }

  .editprofile-form input {
    width: 100%;
  }

  .change-password-link {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
}