
.calendar-container{
    margin: 100px auto;
}
/* ปรับขนาดของปฏิทิน */
.react-calendar {
    width: 100%;  /* ทำให้ปฏิทินขยายเต็มความกว้าง */
    max-width: 500px;  /* กำหนดขนาดสูงสุด */
    margin: 10px auto;
  }
  
  /* ปรับขนาดของวันที่ในปฏิทิน */
  .react-calendar__tile {
    font-size: 26px;  /* ปรับขนาดตัวอักษรของวันที่ */
    padding: 20px;  /* เพิ่มระยะห่างรอบๆ วันที่ */
  }
  
  /* ปรับขนาดวันที่ที่ถูกเลือก */
  .react-calendar__tile--active {
    font-size: 18px;  /* ขนาดตัวอักษรของวันที่ที่ถูกเลือก */
    background-color: #1E90FF;  /* สีพื้นหลัง */
    color: white;  /* สีข้อความ */
  }
  
  /* ปรับขนาดวันที่ที่ปัจจุบัน */
  .react-calendar__tile--now {
    font-weight: bold;
    color: rgb(245, 0, 0);  /* สีข้อความ */
  }
  
  /* ปรับขนาดและสีของวันที่ปฏิทิน */
  .react-calendar__tile--weekend {
    color: red;
  }
  
  /* เปลี่ยนสีพื้นหลังวันที่ที่ถูกเลือก */
  .react-calendar__tile--hasActive {
    background-color: #000000;
  }
  
  /* จัดตำแหน่งปฏิทินให้ตรงกลาง */
  .react-calendar {
    margin: 10 auto;  /* จัดตำแหน่งกลางแนวนอน */
    display: block;
    max-width: 500px;  /* ขนาดสูงสุดของปฏิทิน */
    margin-top: 20px;  /* ระยะห่างจากด้านบน */
  }
  