:root {
    --text-color: #03045e;
  }
  .contact-container{
    margin: 100px auto 20px auto;
    background-color: aliceblue;
  }
  .contact-container .title-contact{
    align-items: center;
    justify-content: center;
  }
  .contact-container .title-contact h1{
    font-size: 50px;
  }