:root {
  --text-color: #03045e;
}

.contact-container h1 {
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
  font-size: 50px;
}

.contact-container .admin-contact {
  min-height: 700px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px 40px 30px 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.admin-contact label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 22px;
}
.admin-contact strong {
  font-weight: 500;
  color: #333;
  font-size: 22px;
}
