:root {
  --text-color: #03045e;
}
.contact-container {
  width: 100%;
  height: auto;
  margin: 50px auto 0px auto;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.822);
}

.contact-container .title-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container h1 {
  font-weight: 500;
  color: var(--text-color);
  font-size: 50px;
}

.admin-contact {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.admin-contact label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 20px;
}
.admin-contact strong {
  font-weight: 500;
  color: #333;
  font-size: 20px;
}
